.create-new-btn {
    margin-top: 50px;
    margin-bottom: 40px;
    width: 175px;
    height: 40px;
    background-color: limegreen;
    color: white;
}

.ticket-list-btn {
    width: 175px;
    height: 40px;
    background-color: limegreen;
    color: white;
}

.content {
    max-width: 800px;
}

.wide-content {
    max-width: 1000px;
}

.clear {
    clear: both;
}

.pill {
    border: 1px solid blue;
    border-radius: 5px;
    border-spacing: 10px;
}

.table {
    margin-top: 40px;
}

.search {
    margin-top: 40px;
    width: 300px;
}

.heading {
    background-color: darkgray;
}

.header-button {
    width: 100%;
    height: 100%;
    background-color: darkgray;
}

.draft-btn {
    background-color: white;
    color: black;
}

.element {
    margin-top: 15px;
    margin-bottom: 15px;
}

.top-element {
    margin-top: 15px;
    margin-bottom: 30px;
}

.font-overview {
    font-size: 18px;
}